<div class="container ">
    <div> 
      <img 
        alt="img" 
        class="img-responsive center" 
        src="assets/img/WhileWork.jpg" 
      /> 
    </div> 
  
    <p> 
      You might think looking at the computer for hours will not help you to 
      reverse your nearsightedness and might as well make it worse?. Your probably 
      right and wrong.. 
    </p> 
  
    <p style="font-weight:bolder;font-size:20px;"> 
      Why your right? 
    </p> 
  
    <p> 
      People used to looking at their computer or even smart phones with not so 
      near distance, this makes the image or text on the screen so clear that 
      makes your eyes elongated, this makes the image from the front lens of your 
      eye going to the front of the retina, not on the back of the retina which is 
      the normal phase. 
    </p> 
  
    <p> 
      Also if your looking at your screen and not aware of your peripheral, this 
      makes your ciliary muscles spasm. means your eyes are now lock up when 
      looking at distance or near objects. Coz ciliary muscle changes when we look 
      at things up close and up front. 
    </p> 
  
    <p style="font-weight:bolder;font-size:20px;"> 
      Why your wrong? 
    </p> 
  
    <p> 
      You can train your eyes while looking at your screen by doing the reverse. 
      Simply adjust your screen distance until you see a little bit of blur 
      challenge on the image or text. Also be aware of your peripheral like your 
      seatmate, cup beside your computer, people walking around, people in your 
      front and etc.. 
    </p> 
  </div> 
  
   