<div class="container">
    <div class="text-center"> 
      <img alt="img" class="img-responsive center" src="assets/img/newindoor.jpg" /> 
    </div> 
  
    <p> 
      What I do when Im home is just looking at my snellen or eye chart focusing 
      on the text where I can see a lit blur and trying to make it clear by being 
      aware of my peripheral images like the curtain, bed, the bulb and everything 
      around the snellen chart. 
    </p> 
  
    <p> 
      Its perfectly fine if you dont have snellen chart, just look at any objects 
      in your house that you cant see perfectly clear and try to foucs on it , be 
      aware of your peripheral until you can see it crystal clear. 
    </p> 
  </div> 