<div class="container">
    <div> 
      <img 
        alt="img" 
        class="img-responsive center" 
        src="assets/img/Outdoor2Details.jpg" 
      /> 
    </div> 
  
    <p> 
      This is how I do my daily outdoor routine when I go to work. I just look at 
      the cars passing by and trying to focus on each plate numbers while its 
      moving. 
    </p> 
  
    <p> 
      Im doing active focus by doing this routine but when doing this, also notice 
      your peripheral , it means while looking at the plate number also be aware 
      of the objects around it like the people on the street, sign boards, trees , 
      cars & etc. Peripheral is what helps you to focus on the plate numbers. 
    </p> 
  </div> 
  
   