<!-- <div class="container"> -->
<div class="row">
    <div class="col-lg-3 side-page">
        <!-- <label>Sidebar with some links</label> -->
    </div>
    <div class="col-lg-6">
        <div class="text-center font-weight-bold h5 mb-4 m-2">
            <label>Hows to Improve Eyesight? </label>
        </div>

        <div class="text-left mb-2 m-2">
            <label> I believe that you are here because you are curious about myopia and wondering if
                it is really possible to reverse your myopia. I want to encourage you that what your thinking
                is right. Im a living testimony of this case and also to a lot of people who became successful
                in their eyesight restoration journey.
            </label>
        </div>

        <div class="text-left mb-5 m-2">
            <label> First of all before you begin to start your journey in imporving your eyesight, you have
                to know what is the causes of myopia. Why people in all ages experience this?
            </label>
        </div>

        <div class="text-center font-weight-bold mb-2 m-2">
            <label> Causes of Myopia
            </label>
        </div>

        <div class="text-left mb-4 m-2">
            <label> Myopia, or widely known as near-sightedness, occurs when the eyeball is too long so it affects how
                the cornea and
                lens focus. This means objects in the distance appear blurry because light rays are focusing at the
                front of the retina rather than at the back of the retina.

                How much time you spend outside and indoors can also affect your eye sight. Spending too much time doing
                near work like reading, writing, watching can definitely trigger myopia.

                Although the contrasts between outdoor and indoor will vary depend on how you do your work.

                The eye condition is also more common in some demographics. For instance, myopia is more prevalent in
                people with Asian culture like Singapore. Students have their computers, ipads that
                they used in their classes. You can see at the photo that almost all the students are wearing their
                glasses.
            </label>
        </div>

        <div class="text-left mb-5 m-2">
            <img class="rounded img-thumbnail" src="assets/ebook/singapore.jpg">
        </div>

        <div class="text-center font-weight-bold mb-2 m-2">
            <label> Have You Ever Wondered?
            </label>
        </div>

        <div class="text-left mb-5 m-2">
            <label> We are talking about native people of a forested area or people who lives in the forest. Those
                people have 20/20 or better than perfect vision why? Because they dont have gadgets, books
                or anything that they can use for hours in their free time. They dont go to school to read books
                or to write. What they usually do is hunting, roaming around the forest, searching for food and etc...
                That kind of lifestyle free from bad habits sharpens their eyesight.
            </label>
        </div>

        <div class="text-center font-weight-bold mb-2 m-2">
            <label> What Should I Do Now?
            </label>
        </div>

        <div class="text-left mb-2 m-2">
            <label> Now you have a good grasp of how people get myopia and the understanding of its causes.
                What you have to do is basically learn from their mistakes like their bad habits. Implement
                good habits in your lifestyle like going outside for walk, looking at the distance, avoid
                too much close up work. Enjoying the sunrise in the morning and many more activities that
                you can enjoy by yourself.
            </label>
        </div>

        <div class="text-left mb-4 m-2">
            <label> Also remember that in this journey it doest matter how young or old you are, our eyes
                can adopt to the environment that we have. We have to make sure that we surround ourselves
                with healthy, good environment.
            </label>
        </div>

    </div>
    <div class="col-lg-3 side-page"></div>
</div>
<!-- </div> -->