<div class="container p-2">
  <h2 class="text-center firstMessage font-weight-bold">
    You know what... <br />you can fix your eyes naturally.
  </h2>
</div>

<div style="background-color:#3B4656;color:white;">
  <div class="container p-4">

    <div class="row">
      <div class="col-md-4">
        <span class="media-center">
          <img alt="img" class="img-responsive renceGlass" src="assets/img/renceSmile01.png" />
        </span>
      </div>
      <div class="col-md-8">
        <p class="pText">
          In grade school when I first noticed that I am myopic or nearsighted,
          thats when I happen to go to a Ophthalmologist students to check how
          bad my eyes were and at the same time get me a pair of glasses (dont
          exactly remember the diopter but its below -2.00 at both eyes).
        </p>
        <p class="pText">
          Every year my eyes gets even worse and my diopter rise up to -2.75 at
          my right and -3 diopter at my left eye. This led me to think of what
          will happen if I just let this happen (at the back of my mind, Im
          thinking I would be blind sooner..).
        </p>
        <p class="pText">
          I started to get serious about it around august - september 2018. This
          led me to think about it more and I dont want this to get worse and worse.
          I also research about how eyes gets myopic and brings me to a knowledge that it
          is really possible to reverse or improve your eyesight.
          <!-- This started me on my journey that has allowed me to restore my vision
          to 20/20. I will tell you exactly how I did it on this website. -->
        </p>
        <p class="pText">
          I created this website so that many people will know and hopefully be influence
          by my experience of improving my eyesight, also re-engineer our mindset
          to what is really possible.
          <!-- This website is free for all. I’m not selling courses or any magic
          pills. I’m providing you with my own experience, how I do it. You can
          use this knowledge or not. If you try any of this and you have
          success, Im only asking to help other people as well. Im not an
          Ophthalmologist or Optometrist but you can be knowledgeable and be
          like other people who successfully reverse their myopia. -->
        </p>
        <p class="text-right font-italic mt-5 pr-4">
          Florence Torres
        </p>
      </div>
    </div>



    <div class="text-left p-2">
      <p style="font-weight:bolder;font-size:25px;">
        How Can You Say That It Is Possible?
      </p>
      <p>
        Have you experience good eye days where you can see a lot better than
        yesterday?. Do you experience a little blur in your vision when your
        tired or hungry or not feeling well? That only means that our vision
        changes and our eyes are adoptive muscles.
      </p>
      <p>
        Good thing our eyes can change and adopt to whatever we do. Think of it
        as a muscle that needs to train in order to get stronger and stronger.
      </p>
      <p style="font-weight:bolder;font-size:25px;">
        A Little Background..
      </p>
      <div class="row">
        <div class="col-md-4">
          <span class="media-center">
            <img alt="img" class="img-responsive renceGlass" src="assets/img/Elementary2.jpg" />
          </span>
        </div>
        <div class="col-md-8">
          <p>
            This is me exactly on my grade 6 graduation day probably 2006. I
            look like a nerd school boy. This is the only picture I got with
            glasses in grade school coz I dont have phone with camera that time.
          </p>
          <p>
            When I first got my pair of glasses I didnt always wear them cause I
            dont feel like wearing them all the time, even on my high school and
            college days the only time I wear glasses is when Im in school
            listening to my teacher, writing notes..
          </p>
          <p>
            My eyes were gettings stronger every year so once every 2 to 3 years
            I go to Opetometrist to get me a new pair of glasses which is higher
            than my normal prescription.
          </p>
          <p>
            I remember get called "boy labo"(boy blur vision) in school coz of
            my eye glasses, I have a friend now who remeber me being called "boy
            labo".
          </p>
        </div>
      </div>
      <br />
      <div class="text-center" style="background:white;color:black;border-bottom: 13px solid #dd9a61;">
        <p style="font-weight:bolder;font-size:25px;">
          "What is impossible with men is possible with God."
        </p>
        <p style="font-weight:bold;font-size:15px;">
          Luke 18:27
        </p>
      </div>
      <br />
      <p style="font-weight:bold;font-size:25px;" class="text-center">
        My Last Pair Of Glasses.
      </p>
      <div class="row justify-content-center">
        <div class="col-md-4 cssBox">
          <p>
            My glasses on my college years. -3 R & -2.75 L. It has damage on the
            left frame..
          </p>
          <img alt="img" class="img-responsive Glass" src="assets/img/OldGlass.jpg" />
        </div>
        <div class="col-md-4 cssBox">
          <p class="glassP">
            My last pair of glasses with -2 R & -2 L. Bought this on my first
            year of my first job.
          </p>
          <img alt="img" class="img-responsive Glass" src="assets/img/NewGlass.jpg" />
        </div>
      </div>
    </div>
  </div>

  <div class="row p-2 mb-3">
    <div class="row col-12">
      <div class="col-sm-4 col-md-4 col-lg-4 offset-4 text-center">
        <p>Some Of My Old Photos...</p>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-sm-1 col-md-1 col-lg-1">
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 mb-2">
        <img alt="img" class="img-responsive GlassBook" src="assets/img/image group 1.png" />
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 mb-2">
        <img alt="img" class="img-responsive GlassBook" src="assets/img/image group 2.jpg" />
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 mb-2">
        <img alt="img" class="img-responsive GlassBook" src="assets/img/image group 3.jpg" />
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1"></div>
    </div>
  </div>

  <div class="row p-2 mb-5">
    <div class="row col-12">
      <div class="col-sm-1 col-md-1 col-lg-1">
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 mb-2">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 mb-2">
        <p>How to improve your eyesight, (free video link)</p>
        <a routerLink="/youtube" class="cursor-pointer"><u>www.free/video/training</u></a>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 mb-2">
      </div>
    </div>
  </div>

  <div class="row p-2 mb-5">
    <div class="row col-12">
      <div class="col-sm-1 col-md-1 col-lg-1">
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 mb-2">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 mb-2">
        <p>Click the link below to see basic info about myopia and How to improve your eyesight.</p>
        <a routerLink="/myopia" class="cursor-pointer"><u>www.basic/info/to/improve/eyesight</u></a>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 mb-2">
      </div>
    </div>
  </div>

  <div class="row p-2 mb-5">
    <div class="row col-12">
      <!-- <div class="col-sm-4 col-md-4 col-lg-4 offset-4 text-center">
        <p>Because of all the discoveries that I learned I created my own ebook so  </p>
      </div> -->
      <div class="col-sm-1 col-md-1 col-lg-1">
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 mb-2">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 mb-2">
        <p>Because of all the knowledge and discoveries that I learned about myopia, this motivates me to
          create my own ebook with all of my experience of How I improve my eyesight. If you have to get your copy
          yet, you can click the link below to download it.</p>
        <a routerLink="/program" class="cursor-pointer"><u>www.how/to/improve/eyesight</u></a>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 mb-2">
      </div>
    </div>
  </div>

  <div class="row p-2 mb-5">
    <div class="row col-12">
      <div class="col-sm-1 col-md-1 col-lg-1">
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 mb-2">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 mb-2">
        <p>Do this exercise daily for 30 minutes. Make sure to focus on each number inside the red ball.
          Click the link below to start training.
        </p>
        <a routerLink="/training" class="cursor-pointer"><u>daily-training</u></a>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 mb-2">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-sm-8 col-md-8 col-lg-8 embed-responsive embed-responsive-16by9 mb-4">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rhMIF4jOnno" allowfullscreen></iframe>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
  </div>

</div>